#ifndef DEMOTRACK_HIP_CONFIG_H__
#define DEMOTRACK_HIP_CONFIG_H__

#if !defined( DEMOTRACK_HIP_CALCULATE_BLOCKSIZE )
    #define DEMOTRACK_HIP_CALCULATE_BLOCKSIZE @DEMOTRACK_USE_BLOCKSIZE_CALCULATOR@
#endif /* !defined( DEMOTRACK_HIP_CALCULATE_BLOCKSIZE ) */

#if !defined( DEMOTRACK_DEFAULT_BLOCK_SIZE )
    #define DEMOTRACK_DEFAULT_BLOCK_SIZE @DEMOTRACK_DEFAULT_BLOCK_SIZE@
#endif /* !defined( DEMOTRACK_DEFAULT_BLOCK_SIZE ) */

#endif /* DEMOTRACK_HIP_CONFIG_H__ */
